<launch>
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
	<param name="port" value="/dev/ttyUSB0"/>
    </node>
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 map sensor 100"/>
    <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0.2 0 0 0 0 map sensor_filter 100"/>
    <node name="sensor_filter" pkg="range_visualizer" type="sensor_filter"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find range_visualizer)/config/rviz_config_filter.rviz"/>
</launch>
